#password-strength-main-container {
    display: inline-block;
    position: relative;
    
}

.password-strength-bar {
    width: 70px;
    height: 10px;
    background-color: #d1d1d1;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 1s;
}

#password-strength-description {
    font-family: 'Roboto';
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}