#password-strength-main-container {
    display: inline-block;
    position: relative;
}

.password-strength-bar {
    width: 90px;
    height: 35px;
    background-color: #d1d1d1;
    margin: 10px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    transition: 1s;
}

.error { color: white }

#password-strength-description {
    font-family: 'Roboto';
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}