#home-main-container { overflow-x: hidden }

#home-multi-column-hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-multi-column-hero div {
    width: 500px;
    display: inline-block;
    margin: 50px;
}

#home-image {
    display: block;
    margin: auto;
    width: 60%;
}

#home-column-text h1 {  
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    color: #1cb092;
}

#home-column-text-button-1  {
    font-family: 'Roboto';
    background-color: #3498db;
    border: none;
    display: block;
    color: white;
    -webkit-appearance: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

#home-column-text-button-1:hover {
    background-color: gray;
}

#home-column-text-button-2 {
    font-family: 'Roboto';
    background-color: #1cb092;
    border: none;
    display: block;
    color: white;
    -webkit-appearance: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

#home-column-text-button-2:hover {
    background-color: gray;
    color: white;
}

#home-what-we-offer {
    color: #3498db;
    font-family: 'Roboto';
    margin-top: 70px;
    text-align: center;
}

.home-column-description-data-text h2{
    font-size: 20px;
    font-family: 'Roboto';
    color: white;
    display:inline;
    line-height: 2;
}

.home-multi-column-description-data {
    width: 80%;
    background-color: #363636;
    margin: 80px auto;
    border-radius: 20px;
}

.home-multi-column-description-data div img {
    width: 90%;
}

@media only screen and (min-width: 1000px) {
    .home-multi-column-description-data div {
        width: 40%;
        display: inline-block;
        margin: 60px;
        line-height: 1.3;
        letter-spacing: 1.3px;
    }

    .home-multi-column-description-data {
        display: flex;
        align-items: center;
    }

    .home-flex-reverse {
        display: flex !important;
        flex-direction: row-reverse !important;
    }
    
}

.home-column-description-data-text-title {
    color: white;
}

.home-column-description-data-text-title {
    font-family: 'Roboto';
}

@media only screen and (max-width: 1000px) {
    #home-multi-column-hero {
        width: 100%;
        display: block;
        text-align: center;
    }

    #home-multi-column-hero div {
        display: block;
        width: 300px;
        margin: auto;
    }

    #home-multi-column-hero button {
        display: inline-block;
        margin: 10px;
        font-size: 15px;
    }

    #home-column-text h1 {  
        font-size: 35px;
    }

    .home-multi-column-description-data div {
        display: block;
    
    }

    .home-multi-column-description-data {
        padding: 20px;
    }

    .home-column-description-data-image {
        width: 300px;
        display: block;
        margin: auto;
    }

    .home-column-description-data-image img {
        display: block;
        margin: auto;
    }

    .home-column-description-data-text h1 {
        margin-top: 0;
    }
}