#how-it-works-inner-container {
    text-align: center;
    margin-top: 30px;
}

#how-it-works-inner-container h2 {
    font-family: 'Roboto';
    color: #1cb092;
    margin: 0;

}

.how-it-works-column-description-data-text h2 {
    font-size: 20px;
    font-family: 'Roboto';
    color:gray;
    display:inline;
    line-height: 2;
}

#how-it-works-logo {
    color: #1cb092;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
}

.how-it-works-multi-column-description-data {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works-multi-column-description-data div {
    width: 40%;
    display: inline-block;
    margin: 60px;
    line-height: 1.3;
    letter-spacing: 1.3px;
}

.how-it-works-multi-column-description-data div img {
    width: 90%;
}

.how-it-works-column-description-data-text-title {
    color: black;
}

.how-it-works-column-description-data-text-title {
    font-family: 'Roboto';
}

@media only screen and (min-width: 520px) {
    #how-it-works-flex-reverse {
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 1300px) {
    .howitworksimg { width: 400px !important }
}
@media only screen and (max-width: 850px) {
    .howitworksimg { width: 300px !important }
}

@media only screen and (max-width: 800px) {
    .how-it-works-multi-column-description-data {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .how-it-works-multi-column-description-data div {
        display: inline-block;
        width: 300px;
        margin: 20px;
        font-size: 15px;
    }
}
